# Normalização de fim de linha
* text=auto

# Exclui as instancias do GitHub Linguist
instances/BBGRL/* linguist-documentation
instances/GBRL/* linguist-documentation
instances/GEN/* linguist-documentation
